/* esercizio 1 */
.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: 3s;
}

.ex-1-square:hover{
    background-color: red;
}

/* esercizio 2 */
.ex-2-square{
    width: 100px;
    height: 100px;
    background: red;
    transition: 3s;
}

.ex-2-square:active{
    width: 100%;
}

/* esercizio 3 */
.ex-3-square{
    width: 100px;
    height: 100px;
    background: red;
    transition: 3s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/* esercizio 4 */
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 3s;
}

.ex-4-square:hover{
    opacity: 0;
}

/* esercizio 5 */
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 3s;
}

.ex-5-square:hover{
    transform: scale(2);
}

.ex-5-square:active{
    transform: scale(0.01)
}

/* esercizio 6 - 7 - 8 */
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover{
    filter: grayscale(1);
}

.ex-7-img{
    transition: 1s;
}

.ex-7-img:hover{
    filter: hue-rotate(90deg) sepia(.5);
}

.ex-8-img{
    transition: 1s;
}

.ex-8-img:hover{
    border-radius: 15%;
    filter: blur(4px) grayscale(3);
}

/* esercizio 9 */
.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: 3s;
}

.ex-9-img:hover{
    border-radius: 20%;
    transform: scale(1.3);
    filter: blur(3px) invert(1);
}

/* esercizio 10 */
.ex-10-icon {
    font-size: 60px;
    animation: rotate 1s linear infinite; 
}

@keyframes rotate {
    from{
        transform: rotate(360deg);
    }
    to{
        transform: rotate(0deg);
    }
}

/* esercizio 11 */
.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover{
    animation: rot3q 3s linear;
}

@keyframes rot3q {
    0%{
        transform: rotate(0deg);
    }
    90%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

/* esercizio 12 - 13 */
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

/* 12 */
.ex-12-button:hover .ex-12-top-white{
    animation: movetop 3s linear;
}

/* 0% partenza 50% punto di ritorno 100% arrivo */
/* partenza e ritorno staccathi dal bordo sx */
/* div bianco 60px (100% - 60px per toccare bordo estremo) */

@keyframes movetop{
    0%{
        left: 10%;
    }
    50%{
        left: calc(100% - 60px);
    }
    100%{
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation: movebottom 3s linear;
}

/* partenza e arrivo più staccati del top da borso dx*/
@keyframes movebottom{
    0%{
        right: 20%;
    }
    50%{
        right: calc(100% - 60px);
    }
    100%{
        right: 20%;
    }
}

/* 13 */
.ex-13-button:hover .ex-13-top-white{
    animation: looptop 3s linear;
}

/* 4 punti per ipotizzare i cambi di direzione del movimento */
/* comincio a farlo scendere con un valore top */
/* lo tengo spinto in basso con top sempre */
/* tolgo margine sx per fargli coprire lato dx mentre risale */
@keyframes looptop{
    0%{
        left: 10%;
    }
    30%{
        left: calc(100% - 55px);
        top: -10px;
    }
    45%{
        left: calc(100% - 55px);
        top: 90%;
    }
    75%{
        left: 0%;
        top: 90%;  
    }
    90%{
        left: -20px;
        top: -10px;
    }
    100%{
        left: 10%;
    }
}

.ex-13-button:hover .ex-13-bottom-white{
    animation: loopbottom 3s linear;
}


@keyframes loopbottom{
    0%{
        right: 20%;
    }
    30%{
        right: calc(100% - 55px);
        bottom: -10px;
    }
    45%{
        right: calc(100% - 55px);
        bottom: 90%;
    }
    75%{
        right: 0%;
        bottom: 90%;
    }
    90%{
        right: -20px;
        bottom: -10px;
    }
    100%{
        right: 20%;
    }
}